streamlit
google-api-python-client
google-auth
google-auth-oauthlib
google-analytics-data
pandas
python-dateutil
fpdf
requests
Pillow
pycountry
gspread
pymongo>=4.0.0
dnspython>=2.0.0
streamlit-js-eval
